# ignore everything
*

# What we will now include

# The .gitignore file
!.gitignore

# Include the root folder
!*/

# Include the markdown files (e.g. readme.md)
!*.md

# Include the source files and header files
!*.py
!*.txt

# Include testing images
!*.png
